<h1>Hello World</h1>
<%= "I LOVE "+"RUBY"%>

<%= 1 + 2 %>

<h1>
  <%= 1 + 2 %>
  </h1>
  
  <div>1+2</div>
 <% catLady == true %>
 <% if catLady== true%>
 <p>You are a crazy cat lady!</p>
 <%if else%>
 <p>Join Adielle's cat hating army</p>
 <%end%>


  